[Unit]
Description={{ .ServiceName }}
StartLimitInterval=0
After=network.target
Wants=network-online.target

[Service]
Type=simple
ExecStart={{ .ExecStart }}
User=root
Group=root
Restart=always
RestartSec={{ .RestartSec }}

[Install]
WantedBy=multi-user.target
